<h1 class="codeBold">Contact Us!</h1>
<br />
<div class="row-fluid">
<div class="span5 fontNormal">
<%= simple_form_for ContactForm.new, url: {action: "create"} do |f| %>
	<%= f.label :Name %><%= f.text_field :name, :class => "input-xlarge" %><br />
	<%= f.label :Email %><%= f.text_field :email, :class => "input-xlarge" %><br />
	<%= f.label :Subject %><%= f.select(:inquiry, options_for_select(["Performance", "Feedback", "Sponsorship", "Involvement", "Other"]), :class => "input-xlarge")%><br>

	<%= f.label :Message %><%= f.text_area :message, :rows => "15", :class => "input-xlarge" %><br />
    <%= f.submit "Submit"%>
<% end %>
</div>
<div class="span7">
<img class="centeredImage contactImage" alt="Raas Friends and Family" src="/assets/raas_ff.jpg">
<p class="sans"> 
Besides competing across the nation, Basmati Raas performs at various on-campus and off-campus events such as weddings, company events, and other occasions. Most recently, the team was the opening act for <a href="http://tedx.stanford.edu/2013/">TEDx Stanford</a>, and was one of the selected student groups for the <a href="https://www.facebook.com/events/537701692935092">Bing Concert Hall Student Showcase</a>.
</p>
<p class="sans">As a nationally touring student group, our organization is a great vehicle to reach prospective customers. For sponsorship or other inquiries/feedback, please enter your information into the form to the left, and our captains will be in touch as soon as possible.</p>
</div>
</div>