<h1>Contact Us!</h1>

<%= form_for @contact_form, url: {controller: "static_pages", action: "home"} do |f| %>
	Name: <%= f.text_field :name %><br />
	Email: <%= f.text_field :email %><br />
	Message: <%= f.text_area :message %><br />
    <%= f.submit "Submit"%>
<% end %>