<%= simple_form_for @user do |f| %>
	<legend>Edit profile for <%= @user.full_name %>:</legend>
	<table class="table table-bordered">
		<tr><th>Public</th><th>Public</th><th>Raaster Only</th></tr>
		<tr>
		<td>
			<p><strong>Current Picture</strong></p>
			<%= @user.get_picture %>
			<div class="control-group">
			  <p>New picture:</p>
			  <%= f.file_field :avatar %>
			</div>
			<p class="info">
				For best display, please upload a square image
			</p>
		</td>

		<td>
			<p class="userInstructions">If you don't want something to appear <br />in your profile, leave that field blank.</p>

		  <%= f.label "SUNET ID", "SUNET ID" %> 
		  <%= f.text_field :sunet, :class => "text_field", disabled: true, :class => "input-xlarge" %><br>

		  <%= f.label "First name" %> 
		  <%= f.text_field :first_name, :class => "text_field", :class => "input-xlarge" %><br>

	  	<%= f.label "Last name" %>
	  	<%= f.text_field :last_name, :class => "text_field", :class => "input-xlarge" %><br>
		  

			<%= f.label "Grad Year" %>
	  	<%= f.text_field :year, :class => "text_field", :class => "input-xlarge" %><br>

		  <%= f.label "Hometown" %>
		  <%= f.text_field :hometown, :class => "text_field", :class => "input-xlarge" %><br>
		  
	  	<%= f.input :gender, collection: [["Male", "M"], ["Female", "F"]], input_html: { class: "input-xlarge"} %>
	  	<br>

	  	<%= f.label "Facebook" %>
	  	<%= f.text_field :facebook, :class => "text_field", :class => "input-xlarge" %><br>
		  
		  <%= f.label "Twitter" %>	  	
	  	<%= f.text_field :twitter, :class => "text_field", :class => "input-xlarge" %><br>

	  	<%= f.label "Short Bio" %>
		  	<%= f.text_area :bio, :rows => 3, :class => "input-xlarge"%><br>

	  	<%= f.label "Favorite Raas Memory" %>
	  	<%= f.text_area :memory, :rows => 2, :class => "input-xlarge"%><br>
		  
	  	<%= f.label "Favorite Quote" %>
		  <%= f.text_area :quote, :rows => 2, :class => "input-xlarge"%><br>
		  
	  	<%= f.label "Alumni?" %>	
		  <div class="control-group"><%= f.check_box :is_alumni %></div>
		</td>
		<!-- Raaster only below here -->
		<td>		
		  <div class="control-group">
		  	<div class="control-label">Birthday</div>		  	
		  	<%= f.text_field :birthday, :class => "text_field", :type => "date" %>
		  </div>		
		  <div class="control-group">
		  	<div class="control-label">Phone Number</div>
		  	<%= f.text_field :phone, :class => "text_field" %>
		  </div>		
		  <div class="control-group">
		  	<div class="control-label">Major</div>
		  	<%= f.text_field :major, :class => "text_field" %>
		  </div>
		  <div class="control-group">
		  	Undergrad? <%= f.check_box :undergrad %>
		  </div>	
		  <div class="control-group">
		  	<%= f.select(:shirt_size, options_for_select([['XS', 'XS'], ['S', 'S'],['M', 'M'],['L', 'L'],['XL', 'XL']]), {:prompt => 'Shirt Size'})%>
		  </div>			
		  <div class="control-group">
		  	<div class="control-label">Dorm and Room Number</div>
		  	<%= f.text_field :residence, :class => "text_field" %>
		  </div>			
		  <div class="control-group">
		  	<div class="control-label">Favorite Food</div>
		  	<%= f.text_field :food, :class => "text_field" %>
		  </div>		
		  <div class="control-group">
		  	<div class="control-label">Stanford ID Number</div>
		  	<%= f.number_field :stanfordid, :class => "number" %>
		  </div>
		  <div class="control-group">
		  	<div class="control-label">Committee</div>
		  	<%= f.text_field :committee, :class => "text_field" %>
		  </div>

		<% if User.is_power_user (session[:user_hash]["username"]) %>
	  	<div class="privileged">
		  	<strong>Priviliged section</strong>
			  <div class="control-group">
			  	Captain? <%= f.check_box :is_captain %>
			  </div>
		  	<%= link_to "Delete this member", @user, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini btn-danger" %>
	  	</div>
	  <% end %>
		</td>
		</tr>
	</table>		
  <div class="form-actions">
  	<%= f.submit :class => "btn btn-primary" %>
  	<%= link_to "Cancel", users_path, :class => "btn" %>
  </div>		
<% end %>