<table class="table table-striped">
<tr>
	<td>
	<%= form_for(@user) do |f| %>
		<fieldset>
			<legend>Edit profile for <%= @user.full_name %>:</legend>

			<div class="control-group">
			  <%= f.label :avatar %><br />
			  <%= f.file_field :avatar %>
			</div>
			
		  <div class="control-group">
		  	<%= f.label :first_name, :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.text_field :first_name, :class => "text_field" %>
		  	</div>
		  </div>

		  <div class="control-group">
		  	<%= f.label :last_name, :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.text_field :last_name, :class => "text_field" %>
		  	</div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label :year, :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.text_field :year, :class => "text_field" %>
		  	</div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label :sunet, :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.text_field :sunet, :class => "text_field" %>
		  	</div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label "Gender", :class => "control-label" %>
		  	<div class="controls">
		  		 <%= f.select(:gender, options_for_select([['Male', 'M'], ['Female', 'F']]), {:prompt => 'Select Gender'})%>
		  	</div>
		  </div>
		  
		  <div class="control-group">
		  	<%= f.label "Captain", :class => "control-label" %>
		  	<div class="controls">
		  		 <%= f.check_box :is_captain %>
		  	</div>
		  </div>

		  <div class="control-group">
		  	<%= f.label "Alumni", :class => "control-label" %>
		  	<div class="controls">
		  		 <%= f.check_box :is_alumni %>
		  	</div>
		  </div>

		  <div class="control-group">
		  	<%= f.label :bio, :class => "control-label" %>
		  	<div class="controls">
		  		<%= f.text_area :bio, :class => "text_area small", :size => "30x5" %>
		  	</div>
		  </div>

		  <div class="form-actions">
		  	<%= f.submit :class => "btn btn-primary" %>
		  	<%= link_to "Cancel", users_path, :class => "btn" %>
		  </div>

		</fieldset>

	</td>
</tr>
</table>

	
<% end %>
<%= link_to "Delete this member", @user, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-mini btn-danger" %>