<h3>Members 2013-14</h3>

<table class="table table-striped">
  <% @users.each do |u| %>
  <tr>
    <td class="small">
      <%= image_tag("defaultRaas.jpg", :class => "member")%>
    </td>
    <td class="large">
      <p>Name: <strong>
      <% if is_logged_in(session) %>
        <%= link_to u.full_name, :action => "edit", :id => u.id %>
      <% else %>
        <%= u.full_name %>
      <% end %>
      </strong>
      </p>
      <p>Year: <strong><%= u.year %></strong></p>
      <p>Bio: <strong><%= u.bio %></strong></p>
    </td>
  </tr>
  <% end %>
</table>