<div class="row-fluid">
	<div class="span3" ng-app="performancesbr">
	  <div ng-view></div>
	</div>

	<div class="span8">
		<div class="row-fluid">
			<%@years.each do |date, info|%>
			<div class="span1">
				<a href="#<%=date%>"><%=date[2..3]+'-'+date[7..8]%></a>
			</div>
			<% end %>
		</div>
		<% @years.each do |date, info|%>
		<div class="year"> 	
			<a name="<%=date%>"></a>
			<h3><%=date%></h3>
				<div class="row-fluid">
					<div class="span7">
						<% if info['videoID'] %>
							<iframe class="youtube-player" type="text/html" width="400" height="250" src=<%="http://www.youtube.com/embed/#{info['videoID']}"%> allowfullscreen frameborder="0"></iframe>
						<% else %>
							<%= image_tag "/assets/#{info['photo']}", class: "displayed" %>
						<% end %>
					</div>
					<div class="span5 fontInika">
						<h5>Highlights</h5>
						<% info['awards'].each do |result|%>
							<p><%=result%></p>
						<% end %>
						<% if info['videos'] %>
							Videos:
							<% info['videos'].each do |vid|%>
								<a href="<%=vid%>"><%=vid%></a><br>
							<% end %>
						<% end %>
					</div>
				</div>
			<br>
		</div>
		<% end %>
	</div>
</div>
