<div class="upcoming">
 	<h3>Upcoming Performances</h3>	
<% @performances.each do |p| %>
 	<p> 
 		<span class="eventTitle">
 			<%= p.event %>
 		</span> <br> 
 		<span class="time">
 			<%= p.time.to_formatted_s(:long) %>
 		</span> <br> 
 		<a href='http://maps.google.com/maps?q= + <%=p.place%>'>
 			<%= p.place %>
 		</a> <br>
 		<%= p.description %> </p>
<% end %>
 </div>
 <br>
 <% if is_logged_in(session) %>
		<a href="/performances/new"><button>Add New Performance</button></a>
	<%end %>