<!DOCTYPE html>
<html>
<head>
  <title>Basmati Raas</title>
  <%= favicon_link_tag '/assets/br_icon.png', :rel => 'icon', :type => 'image/png' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
