<!DOCTYPE html>
<html>
<head>
  <title>Basmati Raas</title>
  <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
  <%= favicon_link_tag '/assets/br_icon.png', :rel => 'icon', :type => 'image/png' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="container">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43486150-1', 'basmatiraas.herokuapp.com');
  ga('send', 'pageview');

</script>
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=378954368857140";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="titleText">
	<% if is_logged_in(session) %>
		Welcome, <%= link_to session[:user_hash]["display_name"], {controller: "users", action: "sunet", sunet: session[:user_hash]["username"]} %>
	<%end %>
</div>
<div class="navbar-wrapper">
	<div class = "navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="nav-collapse">
				<ul class="nav nav-tabs">
					<li class="<%= 'active' if current_page?('/static_pages/home') %> dropdown divider-vertical"><%= link_to "Home", controller: "static_pages", action: "home" %></li>
					<li class="<%= 'active' if current_page?('/users') %> dropdown divider-vertical"><%= link_to "The Team", controller: "users"%></li>
					<li class="<%= 'active' if current_page?('/performances') %> dropdown divider-vertical"><%= link_to "Performances and Awards", controller: "performances"%></li>
					<li class="<%= 'active' if current_page?('/contact_form/new') %> dropdown divider-vertical"><%= link_to "Contact Us", controller: "contact_form", action: "new" %></li>
					<% if is_logged_in(session) %><li class="<%= 'active' if current_page?('/videos') %> dropdown divider-vertical"><%= link_to "Videos", controller: "videos" %></li> <% end %>
				</ul>
				<ul class="nav nav-tabs pull-right">
					<li class="divider-vertical">
					<% if is_logged_in(session) %>
		  			<%= link_to "Logout", controller: "static_pages", action: "logout" %>
					<% else %>  
			  		<%= link_to "Login", controller: "static_pages", action: "login" %>
					<% end %>
					</li>				
				</ul>
			</div>
		</div>
	</div>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>

<%= yield %>
<div class="linkCenter2">
	<div class="fb-like-box" data-href="https://www.facebook.com/basmatiraas" data-width="150" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>
	<p class="centeredText"><%= mail_to "brwebmaster@lists.stanford.edu", "Website Contact" %></p>
</div>
</body>
</html>
